
[class*="about-"]{
	box-sizing: border-box;
}

[class*="about-h2-"]{
	
}

[class*="about-h4-"]{
	
}

[class*="about-sc-"]{
	height: 100px;
}

.about-panel {
    display: grid;
	grid-gap: 0;
    height: 400px;
    width: 100%;
    background-color: aqua;
	grid-template-areas: 
		'logo logo h2-cl2 h2-cl2 h2-cl3 h2-cl3 h2-cl4 h2-cl4 sc-icon-1 h2-cl6 h2-cl6 h2-cl6'
		'logo logo h4-cl2-1 h4-cl2-1 h4-cl3-1 h4-cl3-1 h4-cl4-1 h4-cl4-1 sc-icon-2 map map map'
		'name name h4-cl2-2 h4-cl2-2 h4-cl3-2 h4-cl3-2 h4-cl4-2 h4-cl4-2 sc-icon-3 map map map'
		'name name h4-cl2-3 h4-cl2-3 h4-cl3-3 h4-cl3-3 h4-cl4-3 h4-cl4-3 sc-icon-4 map map map';

/*
		'logo h2-cl2 h2-cl3 h2-cl4 sc-icon-1 h2-cl6 h2-cl6'
		'logo h4-cl2-1 h4-cl3-1 h4-cl4-1 sc-icon-2 map map'
		'name h4-cl2-2 h4-cl3-2 h4-cl4-2 sc-icon-3 map map'
		'name h4-cl2-3 h4-cl3-3 h4-cl4-3 sc-icon-4 map map';
*/
}

.about-logo {
    grid-area: logo;
    background-color: brown;
	height: 200px;
}

.about-name {
    grid-area: name;
    background-color: orangered;
	height: 200px;
}

.about-h2-col2 {
    grid-area: h2-cl2;
    background-color: green;
	height: 100px;
}

.about-h4-col2-1 {
    grid-area: h4-cl2-1;
    background-color: yellow;
	height: 100px;
}

.about-h4-col2-2 {
    grid-area: h4-cl2-2;
    background-color: mediumvioletred;
	height: 100px;
}

.about-h4-col2-3 {
    grid-area: h4-cl2-3;
    background-color: yellowgreen;
	height: 100px;
}

.about-h2-col3 {
	grid-area: h2-cl3;
    background-color: red;
	height: 100px;
}

.about-h4-col3-1 {
	grid-area: h4-cl3-1;
    background-color: yellowgreen;
	height: 100px;
}

.about-h4-col3-2 {
	grid-area: h4-cl3-2;
    background-color: violet;
	height: 100px;
}

.about-h4-col3-3 {
	grid-area: h4-cl3-3;
    background-color: yellowgreen;
	height: 100px;
}

.about-h2-col4 {
	grid-area: h2-cl4;
    background-color: yellowgreen;
	height: 100px;
}
.about-h4-col4-1{
	grid-area: h4-cl4-1;
    background-color: yellowgreen;
	height: 100px;
}
.about-h4-col4-2{
	grid-area: h4-cl4-2;
    background-color: yellowgreen;
	height: 100px;
}
.about-h4-col4-3{
	grid-area: h4-cl4-3;
    background-color: yellowgreen;
	height: 100px;
}

.about-sc-icon-1 {
	grid-area: sc-icon-1;
    background-color: blue;
}

.about-sc-icon-2 {
	grid-area: sc-icon-2;
    background-color: red;
}

.about-sc-icon-3 {
	grid-area: sc-icon-3;
    background-color: blue;
}

.about-sc-icon-4 {
	grid-area: sc-icon-4;
    background-color: red;
}

.about-h2-col6 {
	grid-area: h2-cl6;
    background-color: green;
	height: 100px;
}

.about-map-col6 {
	grid-area: map;
    background-color: greenyellow;
	height: 100px;
}
