/* CSS Document */
:root{
/*    declaring some variables*/
    --bg-color: black;
    --hover-color: darkgreen;
    --hover-pre-color: lightgreen;
    --text-color: white;
    --primary-color: #DDDDDD;
}