/* CSS Document */
* {
    margin: 0;
}

body {
    background-color: whitesmoke;
}

.contact-parent {
    width: 100%;
    height: auto;
    margin-top: 48px;
}

.contact-parent h1 {
    width: 70%;
    font-size: 4vw;
    border-bottom: 5px dashed black;
}

.contact-form {
    width: 80%;
    margin: 0 auto;
}

.contact-form>div {
    width: 100%;
    padding: 10px 1px;
}

label {
    line-height: 30px;
    vertical-align: middle;
    font-weight: bolder;
}

.contact-form>div input,
textarea {
    float: right;
    width: 80%;
    margin-right: 5%;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
    background-color: inherit;
    /*    for variable text area*/
    min-width: 80%;
    max-width: 80%;
    max-height: 150px;
    min-height: 10px;
}

.contact-form .btn {
    margin: 25px 10px;
    width: 70%;
    background: var(--bg-color);
    text-align: center;
    border-radius: 5px;
    padding: 10px 25px;
    color: var(--text-color);
    border: none;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

.contact-form .btn:hover {
    background-color: var(--hover-color);
}

.c-right {
    padding-top: 10%;
}

.right-parent {
    width: 100%;
    height: 340px;
}