/* CSS Document */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--body-color);
}

.top-div {
	background-color: #a5a2a2;
}

.heading {
	position: absolute;
	font-size: 5vw;
	text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
	color: #000;
	top: 8vw;
	left: 31.5%;
}

.sub-text {
	display: block;
	position: absolute;
	font-size: 2vw;
	text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
	color: #000;
	top: 16vw;
	left: 50%;
	transform: translateX(-50%);
}

.left-block,
.mid-block,
.right-block {
	float: left;
	height: 1024px;
	margin-top: 15px;
}

.left-block,
.right-block {
	width: 20%;
}

.mid-block {
	width: 60%;
}

@media only screen and (max-width: 800px) {
	.right-block {
		display: none;
	}

	.left-block {
		width: 25%;
	}

	.mid-block {
		width: 75%;
	}
}

/*slider css*/
.slider {
	width: 90%;
	height: auto;
	position: relative;
}

.slider-dot-div {
	height: auto;
	padding-top: 6px;
}

.slider-dot {
	display: inline-block;
	border-radius: 50%;
	/*	background: #bbb;*/
	background: var(--primary-color);
	width: 1vw;
	height: 1vw;
	margin: 2px 3px;
	cursor: pointer;
	transition: 0.6s ease;
}

.slider-dot:hover {
	background-color: var(--hover-color);
	opacity: 0.5;
}

.s-dot-active {
	background: #717171;
}

.slider-img {
	display: none;
	width: 100%;
	height: auto;
}

#slider-btn-next,
#slider-btn-pre {
	height: 100%;
	width: 7%;
	position: absolute;
	top: 0;
	right: 0;
}

.slider-span {
	position: relative;
	top: 40%;
	display: block;
	padding: 10px 0px;
	background-color: var(--hover-pre-color);
}

.slider-span:hover {
	cursor: pointer;
}

#slider-btn-next {
	right: 0;
}

#slider-btn-pre {
	left: 0;
}

#slider-btn-next:hover .slider-span,
#slider-btn-pre:hover .slider-span {
	background-color: var(--hover-color);
	color: var(--text-color);
}

#slider-btn-pre .slider-span {
	border-radius: 0px 20px 20px 0px;
}

#slider-btn-next .slider-span {
	border-radius: 20px 0px 0px 20px;
}


/*extra typing animation*/
.typeit {
	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	border-right: .15em solid var(--hover-color);
	/* The typwriter cursor */
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em;
	/* Adjust as needed */
	animation:
		typing 8s steps(70, end) infinite,
		blink-caret .75s step-end infinite;
	animation-direction: alternate;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 33%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: var(--hover-color);
	}
}

.cat-heading {
	margin: 15px 20px;
	font-size: 2vw;
}

.cat-ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.cat-ul li {
	margin: 0px 10px;
	padding: 0px 10px;
	font-size: 1.5vw;
	line-height: 3vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.cat-ul a {
	text-decoration: none;
	color: inherit;
}

.cat-ul li:hover {
	background-color: var(--hover-color);
	color: var(--text-color);
	cursor: pointer;
}

/*card css started*/

.top-img {
	opacity: 1;
}

.top-img:hover {
	/*    opacity: 0.5;*/
}

/* index cards*/
.index-img {
	width: 100%;
	height: auto;
}

.index-img:hover {
	opacity: 0.6;
	cursor: pointer;
}

.card-div {
	margin: 5%;
}

.card-div p {
	margin-bottom: 20px;
}

.button {
	background: var(--bg-color);
	text-align: center;
	border-radius: 5px;
	padding: 10px 25px;
	color: var(--text-color);
	border: none;
	text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.button:hover {
	opacity: 0.8;
	background-color: var(--hover-color);
}

/*vi imgs*/
.vi-imgs {
	width: 100%;
	height: auto;
	padding: 1%;
}

.vi-imgs:hover {
	opacity: 0.6;
	cursor: pointer;
}

.vi-imgs:hover+.goto-overlay {
	display: block;
}

.img-text {
	float: left;
	width: 22vw;
	padding: 2%;
	background: #0E0E0E;
	color: var(--text-color);
	font-size: 2vw;
}

.long-div {
	background: #0E0E0E;
	display: inline-block;
	float: left;
	min-width: 390px;
	
}

.head-font {
	font-size: 20px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: auto;
}

.bottom-font {
	font-size: 1.5vw;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: italic;
	font-display: fallback;
}

.set {
	margin-top: 8%;
	text-align: center;
	width:100%; 
	max-width: 250px;
	height: auto; 
	max-height: 150px; 
	vertical-align: middle;
}

.set-2 {
	text-align: center;
	margin-left: 2%;
}

.set-long-btn {
	margin-top: 30%;
	margin-left: 32%
}

.myImg {
	border-radius: 5px;
	width: 100%;
	max-width: 350px;
	height: auto;
	max-height: 250px;
}

.imgMax {
	width: 100%;
	max-width: 200px;
	height: auto;
	max-height: 200px;
	align-content: center;
}

.myImg:hover {
	opacity: 0.7;
	transition-duration: 1.5s;
}

.newImg2 {
	width: 70%;
	height: auto;
}

.newImg2:hover {
	cursor: pointer;
	opacity: 0.6;
	transition-duration: 1s;
}

.img-text2 {
	width: 30%;
	font-size: 1.5vw;
	float: left;
	color: #1B1B1B;
	padding-left: 1%;
}

.long-div2 {
	display: inline-block;
	float: right;
	background: #959595;
}

.last-div {

	text-align: center;
}

.last-btn {
	background: var(--hover-color);
	text-align: center;
	border-radius: 5px;
	padding: 10px 40px;
	color: var(--text-color);
	border: none;
}

.last-btn:hover {
	opacity: 0.6;
	transition-duration: 1s;
	background: var(--bg-color);
}

.newImg3 {
	width: 50%;
	height: auto;
	padding: 4%;
}
.newImg3:hover{
	opacity:.6;
	transition-duration: 1.5s;
}

.img-text3 {
	width: 50%;
	font-size: 1.5vw;
	float: left;
	color: #1B1B1B;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
}

.btn-2ndLast {
    position: relative;
	width: 100%;
    height: 100%;
    border: 1px solid red;
}

.longImg:hover {
	opacity: 0.6;
	transition-duration: 1.5s;
}
.longImg {
	width: 50vw; 
	min-width: 300px;
	float: left;
}

.goto-overlay-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 20px;
	background-color:rgba(0,0,0,0.87);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 15px;
	margin: 0;
	animation: 1.5s btn-to-top;
	text-decoration: none;
	 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

@keyframes btn-to-top {
	from {
		margin-top: 70px;
	}

	top {
		margin-top: 0px;
	}
}

.goto-overlay:hover {
	display: block;
}

.goto-overlay-btn:hover {
	cursor: pointer;
	background-color: rgba(5,189,158,0.79);
}

.goto-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.50);
}

.vi-img-head {
	margin-left: 2%;
}

.logos-parent {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.logos-parent div {
	width: 5720px;
	animation: 25s logo-slider linear infinite;
	animation-direction: alternate;
}

.logos-parent div img {
	width: 200px;
	margin: -2px;
	padding-left:10px;
	padding-right: 10px;
}

@keyframes logo-slider {
	from {
		margin-left: 0px;
	}

	to {
		margin-left: calc(-5720px + 100vw);
	}
}

.vi-imgs-div {
	position: relative;
}
.last-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

