/* CSS Document */
body {
	margin: 0;
	padding: 0;
}

.top-div {
	/*	color 1*/
	background-color: #a5a2a2;

	/*	color 2*/
	/*	background-color: #6d6a6a;*/
}


.heading {
	position: absolute;
	font-size: 5vw;
	/*	color: rgba(197,237,253,0.93);*/
	/*	color: rgba(66,74,221,0.91);*/

	/*
	color: #00FFCB;
	text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    5px 5px 0 red;
*/

	text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
	color: #000000;

	top: 8vw;
	left: 30%;
}

.sub-text {
	position: absolute;
	font-size: 2vw;
	/*	color: rgba(197,237,253,0.93);*/
	/*	color: #00FFCB;*/

	text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
	color: #000000;

	top: 16vw;
	left: 35%;
}

.left-block,
.mid-block,
.right-block {
	float: left;
	height: 1024px;
/*	margin-top: 10px;*/
}

.left-block,
.right-block {
	width: 20%;
	background-color: red;
}

.mid-block {
	width: 60%;
	background-color: blue;
}

@media only screen and (max-width: 800px) {
	.right-block {
		display: none;
	}

	.left-block {
		width: 25%;
	}

	.mid-block {
		width: 75%;
	}
}

/*slider css*/
.slider {
	width: 80%;
	height: auto;
	position: relative;
	/*    z-index: 0;*/
}

.slider-dot-div {
	height: auto;
	/*	background-color: green;*/
	padding-top: 6px;
}

.slider-dot {
	border-radius: 50%;
	background: #bbb;
	width: 1vw;
	height: 1vw;
	margin: 2px 3px;
	cursor: pointer;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slider-dot:hover {
	opacity: 0.5;
}

.s-dot-active {
	background: #717171;
}

.slider-img {
	display: none;
	width: 100%;
	height: auto;
}

#slider-btn-next,
#slider-btn-pre {
	height: 100%;
	width: 7%;
	position: absolute;
	top: 0;
	right: 0;
}

.slider-span {
	position: relative;
	top: 40%;
	display: block;
	padding: 10px 0px;
	background-color: rgba(10, 0, 255, 0.30);
}

.slider-span:hover {
	cursor: pointer;
}

#slider-btn-next {
	right: 0;
}

#slider-btn-pre {
	left: 0;
}

#slider-btn-next:hover .slider-span,
#slider-btn-pre:hover .slider-span {
	background-color: blue;
	opacity: 0.7;
}

#slider-btn-pre .slider-span {
	border-radius: 0px 20px 20px 0px;
}

#slider-btn-next .slider-span {
	border-radius: 20px 0px 0px 20px;
}


/*extra typing animation*/
.typeit {
	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange;
	/* The typwriter cursor */
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em;
	/* Adjust as needed */
	animation:
		typing 8s steps(40, end),
		blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: orange;
	}
}

.cat-heading {
	text-align: center;
	font-size: 2vw;
	/*	padding: 0;*/
}

.cat-ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.cat-ul li {
	margin: 0px 10px;
	padding: 0px 10px;
	font-size: 1.5vw;
	line-height: 3vw;
	/*	margin: 5px 0px;*/
	/*	display: block;*/
	/*	text-align: justify;*/
	/*	text-align: left;*/

}

.cat-ul li:hover {
	background-color: #0FB42C;
	color: white;
	cursor: pointer;
}



.perent-div {
	background-color: yellow;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 3px solid;
	position: relative;
}

.items {
	color: #FFFFFF;
	font-size: 1.5vw;
	text-align: center;
	/*	padding: 0;*/
	width: 100px;
	height: 100px;
}

.child-div1 {
	background: #F00004;
	/*	margin-bottom: auto;*/
	border: 3px solid;
	width: 40%;
	font-size: 2vw;
	height: auto;
}

.child-div2 {
	background: #06FF22;
	margin: auto;
	border: 3px solid;
	width: 100%;
	font-size: 2vw;
	align-items: baseline;
	

}

.child-div3 {
	background: #2B04EF;
	margin-left: auto;
	width: 50%;
	height: auto;
	border: 3px solid;
/*	position: absolute;*/
/*	top: 100%;*/
/*	transform: translate(-50% -50%);*/
}

.child-div4 {
	margin-right: auto ;
/*	position: absolute;*/
/*	bottom: 5%;*/
/*	transform: translate(-50% -50%);*/
}
.flex-container{
	background-color: lightsalmon;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
/*	flex-shrink: right;*/
	border:3px solid;
/*	margin: auto;*/
}
.flex1{
	background-color: violet;
	width: 50%;
	height: auto;
	border:3px solid;
}
.flex2{
	background-color: royalblue;
	width: 50%;
	height: auto;
	border:3px solid;
/*	align-content:space-around;*/
}
.flex3{
	background-color: aliceblue;
	width: 100%;
	height: auto;
	border:3px solid;
}
.flex4{
	background-color: #2405E9;
	width: 33.5%;
	height: auto;
	border:3px solid;
}
.flex5{
	background-color: #12DDC1;
	width: 33.5%;
	height: auto;
	border:3px solid;
}
.flex6{
	background-color: #BB86BC;
	width: 33.5%;
	height: auto;
	border:3px solid;
}
.flex7{
    background-color:teal;
	width: 100%;
	height: auto;
	border:3px solid;
}