/* CSS Document */
.lg-model {
    display: none;
    box-sizing: border-box;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 95%;
    background-color: lightgray;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    border: 1px solid lightgray;
    border-radius: 6px;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 8px 11px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: #C7C7C7;
    animation: 1s shake linear;
    animation-iteration-count: 3;
}

.close:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 12px 15px;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}

.model-left {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
/*    background-color: blue;*/
    overflow: auto;
}

.model-left .model-zoom-btn{
    position: fixed;
    left: 7%;
    bottom: 10%;
    width: 35%;
/*    background-color: red;*/
}

.model-left .model-zoom-btn button{
    width: 45%;
    height: 50px;
    margin: 0 2%;
    box-shadow: 0 4px 8px 0 rgba(58,58,58,1.00);
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
}

.model-left .model-zoom-btn button:hover{
    background-color: blue;
}

.model-left img{
    width: 100%;
    height: auto;
    transition: 0.5s linear;
}

.model-border{
    box-sizing: border-box;
    width: 0.5%;
/*    border: 5px solid black;*/
    float: left;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,1);
}

.model-right {
    box-sizing: border-box;
    float: right;
    width: 49.5%;
    height: 100%;
/*    background-color: yellow;*/
}

.model-r-item{
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    transition: 3s linear;
}

.model-r-top {
    height: 45%;
/*    background-color: hotpink;*/
}

.md-company {
    color: black;
    font-size: 3.5vw;
    border-bottom: 5px double black;
}

.md-name {
    color: black;
}

.md-price{
    color: black;
    font-size: 2vw;
}

.md-discount {
    color: black;
    font-size: 2.5vw;
}

.model-r-cart {
    height: 10%;
    background-color: chocolate;
}

.model-r-bottom {
    position: relative;
    height: 45%;
/*    background-color: hotpink;*/
    padding: 15px;
}

.md-buy, .md-descrip {
    display: block;
    width: 45%;
    min-width: 120px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(58,58,58,1.00);
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 15px 0;
}

.md-buy:hover , .md-descrip:hover{
    background-color: blue;
}

.model-r-bottom p{
    margin-top: 25px;
    font-size: 20px;
}