/* CSS Document */

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
}

.parent {
    width: 100%;
    height: auto;
    display: inline-block;
}

.left-block {
    float: left;
    width: 22%;
    height: 100%;
}

.main-block {
    float: left;
    width: 78%;
    height: auto;
}

/*to corrext navbar space*/
.navbar-area {
    height: 48px;
}

/*category list*/
.main-category {
    width: 100%;
    margin-top: 20px;
}

.main-category h3 {
    font-size: 2vw;
    padding-left: 5%;
    margin: 5px 2%;
}

.main-category h3 span {
    font-size: 0.9vw;
    vertical-align: middle;
    background-color: var(--primary-color);
    color: black;
    padding: 1px 4px;
    border-radius: 40%;
}

.main-category ul li span {
    font-size: 0.9vw;
    vertical-align: middle;
    background-color: var(--primary-color);
    color: black;
    padding: 1px 4px;
    border-radius: 40%;
}

.main-category ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.main-category ul li {
    display: block;
    font-size: 1.4vw;
    text-align: left;
    padding: 2% 7%;
    margin: 0 15% 0 6%;
    transition: background 1s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.main-category ul li:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    color: var(--text-color);
    transition: background 0.5s;
}

.menu-search {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    width: 75%;
    margin: 10px;
    font-size: 1.5vw;
    outline: none;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    left: 70%;
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.8);
    z-index: 1;
    animation: leftToRight 1s;
    border-radius: 5px;
}

@keyframes leftToRight {
    from {
        left: 55%;
    }

    to {
        left: 70%;
    }
}

.menu-dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.menu-dropdown:hover li {
    background-color: var(--hover-color);
    color: var(--text-color);
    margin-left: 18%;
    animation: give-margin linear 2s infinite;
}

@keyframes give-margin {
    0% {
        margin-left: 2%
    }

    25% {
        margin-left: 9%
    }

    50% {
        margin-left: 18%
    }

    75% {
        margin-left: 9%
    }

    100% {
        margin-left: 2%
    }
}

.menu-dropdown-content a:hover {
    background-color: var(--hover-pre-color);
    color: var(--text-color);
}

.menu-dropdown {
    position: relative;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

.main-flex-block {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    border: 1px solid lightgray;
    border-radius: 6px;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    overflow: hidden;
}

.card .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-color: rgba(21, 31, 217, 0.65);*/
    background-color: var(--hover-pre-color);
    box-sizing: border-box;
    overflow: hidden;
}

.card .card-overlay div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .card-overlay div h3 {
    display: block;
    margin: 8px 0px;
    white-space: nowrap;
    padding: 10px 12px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    font-size: 90%;
    text-align: center;
    cursor: pointer;
}

.card .card-overlay div h3:hover {
    background-color: var(--hover-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

@keyframes card-overlay {
    from {
        top: 50%;
        left: 50%;
        width: 0%;
        height: 0%;
    }

    to {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }
}

.card:hover .card-overlay {
    display: block;
    animation: 0.5s card-overlay linear;
}

.card .card-image {
    width: 100%;
    height: auto;
}

.card-text {
    padding: 0 15px;
}

.card-text h2 {
    margin: 0;
}

.card-text hr {
    visibility: hidden;
    height: 2px;
    margin: 0 15%;
}

.card-text p {
    margin: 8px 0;
}

.card .card-company {
    margin: 1px 0;
    font-size: 13px;
    text-align: right;
}

.card .card-company span {
    margin: 1px 0;
    font-size: 13px;
    float: left;
}