/* CSS Document */

.left-block {
    float: left;
    width: 25%;
    height: 1024px;
    background-color: pink;
}

.main-block {
    float: left;
    width: 75%;
    height: 1024px;
    background-color: aqua;
}

/*to corrext navbar space*/
.navbar-area {
    height: 48px;
}

/*category list*/
.main-category {
    width: 100%;
}

.main-category h3 {
    font-size: 2vw;
    padding-left: 5%;
    margin: 5px 2%;
    /*    margin-bottom: 3px;*/
}

.main-category h3 span {
    font-size: 0.9vw;
    vertical-align: middle;
    background-color: lightcoral;
    color: white;
    padding: 1px 4px;
    border-radius: 40%;
}

.main-category ul li span {
    font-size: 0.9vw;
    vertical-align: middle;
    background-color: lightcoral;
    color: white;
    padding: 1px 4px;
    border-radius: 40%;
}

.main-category h3:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.main-category ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.main-category ul li {
    display: block;
    font-size: 1.4vw;
    text-align: left;
    padding: 1.5% 10%;
    margin: 0 2%;
    transition: background 1.5s;
}

.main-category ul li:hover {
    cursor: pointer;
    background-color: orange;
    transition: background 0.5s;
}

.menu-search {
    /*    text-decoration: none;*/
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    width: 75%;
    margin: 10px;
    font-size: 1.5vw;
    outline: none;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    left: 70%;
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: leftToRight 1s;
}

@keyframes leftToRight {
    from {
        left: 40%;
    }

    to {
        left: 70%;
    }
}

.menu-dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: red;
}

.menu-dropdown:hover li {
    background-color: orange;
}

.menu-dropdown-content a:hover {
    background-color: blue;
}

.menu-dropdown {
    position: relative;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}